{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    {# dumpp() = fonction debug #}
    {# {{ dump(articles) }}  #}
    <div class="row">
        {# Récupération de "Route" dans l'url #}
        {% set currentpath = path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params')) %}
        {# {{ dump(currentpath) }} #}
        {% if currentpath is same as('/') %}  
            <h2 class="text-center mb-5 text-success">Articles</h2>
            {% for article in articles %} 
            {# for "row" in "array" #}
            <div class="col-lg-4 col-sm-12">
                <div class="card mb-3">
                    <img src="{{ article.image }}" class="card-img-top" alt="Article n°{{ article.id }}" height="250">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.content | u.truncate(100, '...') }}</p>
                        {# 'u' => filtre "wrap" Twig pour réduire la taille d'un texte (manipulation de texte) #}
                        {# Lignes de commandes pour installer le bundle : #}
                        {# -composer require twig/string-extra #}
                        {# -composer require twig/extra-bundle #}
                        {# date() => fonctionnalité Twig, ici sert à formater la date afin de l'afficher #}
                        <h6 class="card-text">Article crée le : <small class="text-body-secondary">{{ article.createdAt | date("d/m/Y") }}</small></h6>
                        {# Le bouton permet d'afficher un seul article #}
                        {# "findById" method #}
                        <a href="{{ path('app_article', {'id':article.id}) }}" class="btn"><i class="bi bi-eye-fill fs-4 text-success"></i></a>
                        {# "findByTitle" method #}
                        {# <a href="{{ path('app_article', {'title':article.title}) }}" class="btn"><i class="bi bi-eye-fill fs-4 text-success"></i></a> #}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {# Variable "article" déclaré au moment du "for" -> variable de réception, réceptionne un article à chaque tour de boucle #}
        {# Variable "articles" => tableau déclaré dans le "controller" #}
        {# Pour chaque "article" dans le tableau "articles", affichage d'une card #}
        {% for category in categories %}
            {% if currentpath is same as('/category/'~category.name) %}
                <h2 class="text-center mb-5 text-success">Catégorie : {{category.name}}</h2>
                {% for article in category.articles %}
                    {# {{ dump(article) }} #}
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 mt-5 mb-5">
                            <h3 class="text-center">{{ article.title }}</h3>
                            <div class="card">
                                <img src="{{ article.image }}" class="card-img-top" alt="Article n°{{ article.id }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text">{{ article.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
